<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center">{{user && user.username}} </div>
    <div class="list-group list-group-flush">
        <a routerLink="/anasayfa" class="list-group-item list-group-item-action bg-light">Ana Sayfa</a>
        <a routerLink="/hesaplar" class="list-group-item list-group-item-action bg-light">Hesaplar</a>
        <a routerLink="/transferler" class="list-group-item list-group-item-action bg-light">Transferler</a>

        <button (click)="cikisYap()" class= "list-group-item list-group-item-action bg-light text-center">Çıkış Yap</button>
    </div>
</div>